.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  background-color: #FEFEFA;
  color: #2F2F2F;
}

.header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.header .brand {
  margin: 0 20px;
  font-size: 24px;
  color: #7100B2;
}

.header div {
  display: inline-block;
}

.header span {
  margin-right: 20px;
}

.quiz-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.scores-wrapper {
  display: none;
}

.modal-wrapper {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
}

.modal-wrapper.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 40px;
}

#start-button {
  padding: 40px 60px;
  font-size: 40px;
  font-weight: 700;
  border: 4px solid #38B271;
  border-radius: 20px;
  color: #FEFEFA;
  background-color: #38B271;
}

#start-button:hover {
  cursor: pointer;
  color: #FFF5EE;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.notification {
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: 400;
}

.notification > span {
  font-size: 14px;
}

.nav-buttons > span {
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #7100B2;
}

.nav-buttons > span:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

#login-button {
  color: #7100B2;
}

#login-button:hover {
  background-color: #FFF5EE;
}

#signup-button {
  background-color: #7100B2;
  color: #FEFEFA;
}

#signup-button:hover {
  color: #FFF5EE;
}

.quiz-box {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  overflow: hidden;
}

#question {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

#question > #text {
  font-size: 32px;
}

#timer {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  height: 50px;
}

#progress-bar {
  height: 50px;
  background-color: #7100B2;
  transition: all 1s linear;
}

#timer-text {
  position: relative;
  display: inline;
  bottom: 35px;
  padding: 5px;
  border-radius: 25%;
  background-color: #FEFEFA;
}

#time-remaining {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: aqua;
}

#directions {
  display: none;
}

#numbers-input div {
  padding: 5px 0;
}

#numbers-input span {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 20px;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator {
  display: inline-block;
  height: 40px;
  width: 40px;
  opacity: 0.3;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.indicator-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.indicator.active {
  opacity: 1;
}

.points-display {
  opacity: 0;
}

.points-display.visible {
  opacity: 1;
}

.points-display.active {
  transition: all 0.5s;
  transform: translateY(-30px);
}

#startover {
  margin-top: 20px;
}

.startover-button {
  border: 2px solid #38B271;
  color: #38B271;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 16px;
}

.startover-button:hover {
  background-color: #FFF5EE;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.startover-button:hover {
  cursor: pointer;
}

    @media (min-width: 767px) {
      .App {
        text-align: center;
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: 50px auto;
      }

      .header {
        grid-column: 1 / span 2;
      }

      .header .brand {
        margin: 0 40px;
        font-size: 32px;
      }

      .scores-wrapper {
        display: block;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        height: calc(100vh - 50px);
        overflow-y: auto;
        box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.1);
      }

      .modal-wrapper {
        grid-column: 1 / span 1;
      }

      .quiz-box {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
      }

      #question {
        margin-top: 0;
      }

      #directions {
        display: block;
      }

      #numbers-input {
        display: none;
      }

      #startover {
        margin-top: 0;
      }
    }